.resourceLink {
  color: var(--pc-box-color);
  text-decoration: none;
}

.resourceLink:hover {
  background-color: var(--p-color-bg-fill-hover);
}

.fullscreenLayout .Polaris-Layout {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreenLayout.withTopBar .Polaris-Layout {
  height: calc(100% - 57px);
  top: 57px;
}

.fullscreenLayout .Polaris-Layout .Polaris-Layout__Section {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.justClickable, .justClickable:hover {
  color: inherit;
  text-decoration: none;
}

.link--external { color: inherit; text-decoration: none;}
.link--external .Polaris-Text--root + .Polaris-Icon {display: none;}
.link--external:hover { text-decoration: underline; }
.link--external:hover .Polaris-Text--root + .Polaris-Icon {display: block;}