.resourceLink {
  color: var(--pc-box-color);
  text-decoration: none;
}

.resourceLink:hover {
  background-color: var(--p-color-bg-fill-hover);
}


.layout--translate {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-width: 100%;
}

.fullscreenLayout .layout--translate {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreenLayout.withTopBar .layout--translate {
  height: calc(100% - 57px);
  top: 57px;
}

.fullscreenLayout .layout__section {
  height: 100%;
  margin: 0;
  overflow: auto;
}

@keyframes drawerClosing {
  0% {transform: translateX(calc(-100% + 8px));}
  25% {transform: translateX(0);}
  75% {transform: translateX(0);}
  100% {transform: translateX(calc(-100% + 8px));}
}

@media (max-width: 1160px) {
  .layout--translate {
    grid-template-columns: 0 1fr;
  }
  .fullscreenLayout .layout__section.layout__section--resource {
    overflow: visible;
  }
  .layout--translate .panel--resource {
    animation: drawerClosing 2s ease-in-out 1s;
    position: absolute;
    width: 300px;
    z-index: 5;
    transform: translateX(calc(-100% + 8px));
    transition: transform .3s ease-in-out;
    border-right: solid 2px var(--p-color-border-secondary);
  }
  .layout--translate .panel--resource:hover,
  .resource-panel--open .layout--translate .panel--resource {
    transform: translateX(0);
  }
  .layout--translate .panel--resource:before {
    content: "";
    width: 8px;
    height: 100%;
    top: 0;
    display: block;
    position: absolute;
    right: 0;
    background: #fff;
  }
  .layout--translate .panel--resource:hover::before,
  .resource-panel--open .layout--translate .panel--resource::before  {
    display: none;
  }
  .layout--translate .panel--resource:after {
    content: "";
    width: 40px;
    height: 200px;
    top: 50%;
    transform: translate(100%, -50%);
    display: block;
    opacity: 0.75;
    position: absolute;
    transition: opacity 0.3s linear;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 25%, rgba(203,203,203,1) 50%, rgba(214,214,214,1) 100%);
    border: solid 1px var(--p-color-border-secondary);
    border-left: none;
    border-radius: 0 100px 100px 0;
  }
  .layout--translate .panel--resource:hover:after {
    opacity: 1;
  }
}

.justClickable, .justClickable:hover {
  color: inherit;
  text-decoration: none;
}

.link--external { color: inherit; text-decoration: none;}
.link--external .Polaris-Text--root + .Polaris-Icon {display: none;}
.link--external:hover { text-decoration: underline; }
.link--external:hover .Polaris-Text--root + .Polaris-Icon {display: block;}

.table--translate {
  display: grid;
  grid-template-columns: 11.25rem 1fr 1fr;
  min-width: 100%;
}



@media (max-width: 768px) {
  .table--translate {
    grid-template-columns: 1fr;
  }
}

.table--translate thead, 
.table--translate tbody, 
.table--translate tr {
  display: contents;
}
.table--translate th, 
.table--translate td {
  overflow: hidden;
  width: 100%;
}
.table--translate td {min-height: 45px;}

.table--translate .cell--target textarea {
  border: solid 1px transparent;
}
.table--translate .cell--target textarea:focus,
.table--translate .cell--target textarea:focus-visible {
  outline: none;
  border: solid 1px var(--p-color-border-emphasis);
  color: var(--p-color-border-focus);
}
.table--translate .cell--target .Polaris-TextField__Backdrop {
  background-color: transparent;
  border: none;
}

.table--translate .cell--target .Polaris-TextField--focus > .Polaris-TextField__Input ~ .Polaris-TextField__Backdrop, .Polaris-TextField--focus > .Polaris-TextField__VerticalContent ~ .Polaris-TextField__Backdrop, .Polaris-TextField--focus > .Polaris-TextField__InputAndSuffixWrapper ~ .Polaris-TextField__Backdrop, .Polaris-TextField:focus-within > .Polaris-TextField__Input ~ .Polaris-TextField__Backdrop, .Polaris-TextField__Input:focus-visible ~ .Polaris-TextField__Backdrop,
.table--translate .cell--target .Polaris-TextField:not(.Polaris-TextField--disabled):not(.Polaris-TextField--error):not(.Polaris-TextField--readOnly) > .Polaris-TextField__Input:hover:not(:focus-visible) ~ .Polaris-TextField__Backdrop {
  background-color: transparent;
  outline: none;
}

.table--translate .cell--target .Polaris-TextField--focus > .Polaris-TextField__Input {
  color: var(--p-color-border-focus);
}

@keyframes placeholder-shimmer {
  0% { background-position:  100%; }
100% { background-position: -100%; }
}

.loading--gray-gradient {
  animation: 3s linear infinite placeholder-shimmer;
  background-image: linear-gradient(to right, 
    rgba(0,0,0,.00)   0%, 
    rgba(0,0,0,.1)  25%, 
    rgba(0,0,0,.00)  50%, 
    rgba(0,0,0,.1)  75%, 
    rgba(0,0,0,.00) 100%
  );
  background-size: 200%;
  height: 100%; width: 100%;
}

.insertImageItem {
  border: solid 1px var(--p-color-border);
  border-radius: 10px;
  padding: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

.label--updatedAt {
  position: absolute;
  padding: 2px 4px 2px 10px;
  border-radius: 10px 0 0 0;
  background: var(--p-color-bg);
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
  z-index: 10;
}
.cell--target:hover .label--updatedAt {
  opacity: 1;
}

.item { padding: 10px 20px; border-bottom: dashed 1px var(--p-color-bg-fill-secondary-hover);}
.item:last-child { border-bottom: none !important;}
.item-blocks:first-child .item:first-child {border-top: none !important;}
.item em {
  font-style: normal;
  font-weight: bold;
  color: var(--p-color-bg-fill-emphasis-hover);
}
.item.selected {
  background: var(--p-color-bg-surface-brand-selected);
}
.item--section {
  background: var(--p-color-avatar-seven-text-on-bg-fill);
  border-bottom: solid 1px var(--p-color-bg-fill-magic-secondary-active);
  border-top: solid 1px var(--p-color-bg-fill-magic-secondary-active);
}
.highlighted {
  background: var(--p-color-bg-fill-magic-secondary-active) !important;
}